.personality-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 82px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .personality-cards {
    flex-wrap: wrap;
    gap: 15px;
  }

  .personality-card {
    flex: 1 1 calc(50% - 15px); /* Two cards per row */
    padding: 12px 20px;
  }
}

/* Media query for phones */
@media (max-width: 480px) {
  .personality-cards {
    flex-wrap: wrap;
    gap: 10px;
  }

  .personality-card {
    flex: 1 1 calc(50% - 10px); /* Two cards per row */
    padding: 10px 15px;
  }
}

.personality-card {
  padding: 15px 25px;
  background-color: #2a42db;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personality-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #d241c8;
} 